<div class="card">
  <div class="card-header">
      update.html
  </div>

  <div class="card-body">
    <div>
      <div class="form-group">
        <label>번호:</label>
        <input class="form-control" ng-model="product.pid" readonly/>
      </div>
      <div class="form-group">
        <label>상품명:</label>
        <input class="form-control" ng-model="product.name"/>
      </div>
      <div class="form-group">
          <label>설명:</label>
          <textarea class="form-control" ng-model="product.description"></textarea>
      </div>
      <div class="form-group">
          <label>카테고리:</label>
          <input class="form-control" ng-model="product.category"/>
      </div>
      <div class="form-group">
          <label>가격:</label>
          <input class="form-control" ng-model="product.price"/>
      </div>
      <button class="btn btn-primary btn-sm" ng-click="updateProduct(product)">수정</button>
      <button class="btn btn-primary btn-sm" ng-click="cancel()">취소</button>        
    </div>
  </div>
</div>